@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");

body#application {
    margin-top: 100px;
    background-image: url("https://i.imgur.com/UT7Via8.jpg");
    background-attachment: fixed!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

p#songTitle {
    font-family: 'Montserrat' sans-serif;
}

h1#header {
    font-family: 'Raleway' sans-serif;
}

img#image {
    border-radius: 50%;
    border: 5px solid #E67EDE;
}